<div style="margin: 20px">
  <table mat-table [dataSource]="usersItems" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">
        {{
          user.name["title"] +
            " " +
            user.name["first"] +
            " " +
            user.name["last"]
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">
        {{ user.login["username"] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef>Thumbnail Icon</th>
      <td mat-cell *matCellDef="let user">
        <img
          mat-card-image
          src="{{ user.picture.thumbnail }}"
          alt="Photo of a list"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z1"
    (page)="handlePageEvent($event)"
    [length]="100"
    [pageSize]="users?.info?.results || 10"
    [pageSizeOptions]="[]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
